.intl-tel-input.allow-dropdown input, 
.intl-tel-input.allow-dropdown input[type=text], 
.intl-tel-input.allow-dropdown input[type=tel]
 {
  height: 4.4rem;
  width: 23rem;
  border-radius:5px ;
  border: 2px solid rgb(182,181,181);
  /* margin-top: 10px; */
}

.iti-flag{
  width: 60px !important;
}